---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import WingTitle from "../components/WingTitle.astro";

const pageTitle = "SIGNAL FOCUSED | MAIN BLOG";
const postsCollection = await getCollection("posts");
const allPosts = postsCollection.sort((a, b) => {
  return b.data.date.getTime() - a.data.date.getTime();
});
---

<BaseLayout pageTitle={pageTitle}>
  <div class="main-container">
    <WingTitle>Main Blog</WingTitle>
    <ul class="row">
      {
        allPosts.map((post) => (
          <BlogPost
            image={post.data.image}
            url={`/posts/${post.slug}/`}
            title={post.data.title}
            description={post.data.description}
            avatar={post.data.avatar}
            authors={post.data.authors}
            date={post.data.date}
            categories={post.data.categories}
          />
        ))
      }
    </ul>
  </div>
</BaseLayout>

<style>
  .main-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 40px;
    justify-content: center;
    align-items: center;
  }

  .title {
    display: flex;
    justify-content: center;
  }

  .svg {
    transform: scale(-1, 1);
  }

  .row {
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
</style>
