---
const { title, url, image, description, avatar, authors, date, categories } =
  Astro.props;
import "../styles/global.css";
---

<div class="list-container">
  <div>
    <a href={url}
      ><img class="list-image" src={image} alt={title} loading="lazy" />
    </a>
  </div>
  <div class="list-text-container">
    <h2 class="list-title"><a href={url}>{title}</a></h2>
    <p class="list-description">{description}</p>
    <div class="list-details-container">
      <img class="list-avatar" src={avatar} alt="avatar" />
      <div class="list-authors">{authors}</div>
      <div class="list-date">{date}</div>
      <div class="list-categories">{categories}</div>
    </div>
  </div>
</div>

<style>
  .list-container {
    display: flex;
    margin-top: 40px;
    gap: 40px;
    align-items: center;
  }

  .list-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid var(--text);
  }

  .list-text-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  .list-title {
    text-align: center;
    border-bottom: 4px solid var(--text);
    padding-bottom: 10px;
    text-decoration: none;
  }

  .list-details-container {
    display: flex;
    gap: 10px;
    font-size: 14px;
  }

  .list-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--text);
  }

  .list-authors {
    color: var(--text);
    background: #ff9500;
    border: 1px solid var(--text);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
  }

  .list-categories {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--text);
    background: var(--brand);
    color: var(--text);
    text-decoration: none;
    cursor: pointer;
  }

  a {
    color: var(--text);
    text-decoration: none;
  }
</style>
