---
const { title, url, image, description, avatar, authors, date, categories } =
  Astro.props;
---

<div class="list">
  <div class="list-item">
    <li>
      <a href={url}
        ><img class="list-image" src={image} alt={title} loading="lazy" />
      </a>
      <div class="list-text">
        <h2 class="list-title-link">
          <a href={url}>{title}</a>
        </h2>
        <p class="list-description">{description}</p>
        <div class="list-detail">
          <img class="list-avatar" src={avatar} alt="" />
          <div class="list-authors">{authors}</div><div class="list-date">
            {date}
          </div>
        </div>
        <div class="list-categories">
          <a class="list-category" href="">{categories}</a>
        </div>
      </div>
    </li>
  </div>
</div>

<style>
  .list {
    margin-top: 20px;
  }

  .list-item {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
  }

  .list-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #f8740f;
  }

  .list-title-link {
    text-align: center;
    border-bottom: 2px solid #f8740f;
    padding-bottom: 5px;
    text-decoration: none;
  }

  .list-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .list-detail {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
  }

  .list-avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid gray;
  }

  .list-authors {
    color: orangered;
  }

  .list-categories {
    display: flex;
    gap: 10px;
  }

  .list-category {
    padding: 5px;
    border-radius: 5px;
    background-color: #a55b40;
    color: white;
    font-size: 14px;
    text-decoration: none;
  }

  a {
    color: var(--text);
    text-decoration: none;
  }
</style>
