---
import BaseLayout from "./BaseLayout.astro";
import { fade } from "astro:transitions";
const { frontmatter } = Astro.props;
import "../styles/global.css";
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>{frontmatter.date.toString().slice(0, 10)}</p>
  <p transition:animate={fade({ duration: "2s" })}>
    <em>{frontmatter.description}</em>
  </p>
  <p>Written by: <a href="/about/">{frontmatter.authors}</a></p>
  <img src={frontmatter.image} width="300" />
  <div class="categories">
    {
      frontmatter.categories.map((category) => (
        <a class="category" href={`/categories/${category}`}>
          {category}
        </a>
      ))
    }
  </div>
  <slot />
</BaseLayout>
<style>
  a {
    color: var(--text);
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
  }

  .category {
    margin: 0.25em;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: orange;
    text-decoration: none;
  }
</style>
