---
import { fade } from "astro:transitions";
import { formatArticleDate } from "../utils/formatArticleDate";
import { type PostModel } from "../utils/postSchema";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  frontmatter: PostModel;
}

const { frontmatter } = Astro.props;

const displayedDate = formatArticleDate(frontmatter.date);
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="post-container">
    <h1 class="post-title">{frontmatter.title}</h1>
    <div class="post-details-container">
      <img class="post-avatar" src={frontmatter.avatar} alt="author" />
      <p class="post-details" transition:animate={fade({ duration: "2s" })}>
        <em>{displayedDate} • {frontmatter.authors} </em>
        {
          frontmatter.categories.map((category) => (
            <a class="post-category" href={`/categories/${category}`}>
              {category}
            </a>
          ))
        }
      </p>
    </div>
  </div>
  <div class="post-content">
    <slot />
  </div>
</BaseLayout>

<style>
  .post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .post-title {
    text-align: center;
    font-size: 2.25rem;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--text);
  }

  .post-details-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .post-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid gray;
    object-fit: cover;
  }

  a {
    color: var(--text);
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
  }

  .post-category {
    padding: 5px;
    border-radius: 5px;
    background-color: #7a3f2a;
    color: white;
    font-size: 0.875rem;
  }
</style>
